.container{
    width:100%;
    display:flex;
    margin: 0;
    flex-direction: column;
    padding:0;
}
.h2{
    margin-top:30vh;
    height:5vh;
    color:black;
    background-color: rgb(124 ,124 , 124 , 0.8)
}
