.container{
    height: 70vh;
    display: flex;
    background-image:url('../assests/background.jpg');
    background-size:cover;
    background-position: center;
    flex-direction:column;
    margin:0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items:center;
}
.p{
    text-align:center;
    font-size:1.5em;
    color:white;
    padding-bottom:2%
}
.heading{
    font-size:1.5rem;
    color:rgb(179, 132 , 168 ,1);
    padding-top:10%;
    padding-bottom:5%;
    font-family:Arial, Helvetica, sans-serif;

}
.form{
    display:flex;
    flex-direction:column;
    width:90%;
    height:80vh;
    padding-left:0%;
}
input{
    width: 98%;
    height:10%;
    background-color: inherit;
    outline:none;
    margin-bottom:5%;
    border:2px solid white; 
}
input::placeholder{
     font-size:1em;
     padding:5px;
     color:white;
}
textarea{
    width:98%;
    font-size:1rem;
    margin: 0;
    height:30%;
    background-color: inherit;
    border:2px solid white ;
    outline:none;
}
textarea::placeholder{
    font-size:1rem;
    padding:20px 5px;
    color:white;
}
input[type='submit']{
    border:none;
    width:50%;
    margin:0% 25%;
    height:15%;
    margin-top:5%;
    background-color:rgb(179, 132 , 168 ,1);
}
.paragraph{
    color:white;
    text-align:center;
}

@media(min-width:800px){
    .container{
        height:80vh;
    }

    input{
        height: 3em;
        width:70%;
        margin:1% 15%;
    }
    textarea{
        width:69.5%;
        margin:1% 15%;
    }
}
@media(min-width:1000px){

    input{
        height: 3em;
        width:50%;
        margin:1% 25%;
    }
    textarea{
        width:49.5%;
        margin:0% 25%;
        height:50%
    }
    input[type='submit']{
        width: 30%;
        margin: 1% 35%
    }
}