.footer{
    background-size:cover;
    background-position: center;
    background-color:rgb(84, 20 , 84 ,1);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height:5vh;
    width:100%;
}