.container{
    position:absolute;
    height:100%;
    width:100%;
    z-index:+3;
    background:linear-gradient(0deg,rgba(14, 13, 13, 0.3));
    background-size:cover;
    background-position: center;
}